/* Default styles for desktop */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.background {
    background: url('../assets/background.jpg') no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 120%;
    transition: filter 0.5s ease-in-out;
    z-index: -1;
    top: -20px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-image: url('../assets/black-texture.jpg'); /* Replace with the path to your image */
    background-size: cover;
    background-position: center;
    color: white;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Dark shadow for depth */
    background-color: rgba(0, 0, 0, 0.3); /* Adds a slight shade */
}


.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.logo {
    font-family: 'Jura', sans-serif;
    font-size: 42px; /* Adjust the size as needed */
    font-weight: 600; /* Slightly bolder version */
    letter-spacing: 0.125em; /* Add spacing between letters */
    background: url('../assets/brushed-gold-texture.jpg') no-repeat; /* Brushed gold texture */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover; /* Ensure the image covers the text properly */
    background-position: center; /* Center the background image */
    margin-top: -10px;
    margin-bottom: -5px;
}



.navigation ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    margin-left: 30px;
}

.navigation ul li a {
    font-family: 'Oswald', sans-serif;
    font-weight: 400; /* Bold */
    font-size: 18px; /* Adjust the size as needed */
    background: url('../assets/brushed-gold-texture.jpg') no-repeat; /* Brushed gold texture */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover; /* Ensure the image covers the text properly */
    background-position: center; /* Center the background image */
    text-decoration: none;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon span {
    background: url('../assets/brushed-gold-texture.jpg') no-repeat; /* Brushed gold texture */
    height: 3px;
    width: 30px;
    margin: 5px 0;
}

.impact-statement {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    font-weight: 300px;
    box-sizing: border-box;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 200px;
}

.hero {
    background-color: #1f4f9e;
    color: white;
    text-align: center;
    padding: 100px 20px;
    margin-top: 80px;
    z-index: 1;
}

.hero h1 {
    margin: 0;
    font-size: 42px;
}

.hero p {
    font-size: 20px;
    margin: 10px 0 0;
}

main {
    margin-top: 90px;
    padding: 40px;
    text-align: center;
    z-index: 1;
    position: relative;
}

section {
    margin-bottom: 200px;
}

h2 {
    color: #1f4f9e;
}

.our-mission {
    background-image: url('../assets/black-texture.jpg'); /* Replace with the path to your image */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 175px 40px;
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;
    margin-left: calc(-50vw + 50%);
    z-index: 1;
    box-sizing: border-box;
}

.our-mission h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
}

.mission-content {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
}

.mission-text {
    width: 65%;
    padding-left: 20px; /* Padding to the left of the text */
    padding-right: 20px; /* Equal padding to the right */
    font-size: 24px; /* Increased paragraph text size */
}

.mission-image-container {
    width: 35%;
    padding-left: 20px; /* Equal padding to the right */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 40px;
    column-gap: 10px;
    position: relative;
    z-index: 1;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Increased shadow size */
    padding: 30px;
    width: 40%;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6); /* Even bigger shadow on hover */
}

.card h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700; /* Bold */
    background: url('../assets/black-texture.jpg') no-repeat; /* Black textured background */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover; /* Ensure the image covers the text properly */
    background-position: center; /* Center the background image */
}

.card p {
    color: #555;
    font-size: 18px;
    line-height: 1.6;
}

/* Styles for mobile devices */
@media (max-width: 768px) {
    .logo {
        font-size: 30px;
    }
    .toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        flex-wrap: wrap; /* Allow wrapping */
    }

    .navigation {
        display: none; /* Initially hide the navigation links */
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .menu-icon {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .menu-icon span {
        background: url('../assets/brushed-gold-texture.jpg') no-repeat; /* Brushed gold texture */
        height: 3px;
        width: 30px;
        margin: 5px 0;
    }

    .navigation.active {
        display: block; /* Display the navigation when the 'active' class is added */
    }

    /* Impact statement adjustments */
    .impact-statement {
        font-size: 30px;
        text-align: center;
        padding: 0 20px;
    }

    /* Background image fit */
    .background {
        background-size: cover; /* Make sure the image covers the height of the screen */
        background-position: center center;
    }

    /* Our mission section adjustments */
    .our-mission {
        padding: 60px 20px;
        background-size: cover;
        background-position: center center;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    /* Mission content layout adjustments */
    .mission-content {
        flex-direction: column;
        text-align: center;
    }

    .mission-image-container {
        width: 80%;
        margin-top: 20px;
    }

    .mission-text {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        font-size: 18px; /* Adjusted for readability on small screens */
    }

    /* Content and cards adjustments */
    .content {
        flex-direction: column;
        padding-right: 40px;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
        padding: 20px;
        font-size: 16px; /* Adjusted for better readability */
    }

    .card h2 {
        font-size: 24px; /* Adjusted for better readability */
    }
}
